{% extends 'base.html.twig' %}

{% block title %}Hello DetailTaskController!{% endblock %}

{% block body %}

<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>

<div class="example-wrapper">
</div>

<div class="container">
    <div class="my-3 row" 
		{{ form_start(form) }}
		{{ form(form) }}
    <div class="my-3 row" 
	</div>
		<button class="btn btn-primary mx-5 col-2" type="submit">Modifier la tâche</button>
          <a class="nav-link active mx-5 col-2" href="/delete/task/{{task.id}}">
        <button class="btn btn-danger">supprimer la tâche</button>
        </a>
			{{ form_errors(form) }}
	</div>
{{ form_end(form) }}
	</div>


{% endblock %}

